<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="User Test Suite" parallel="methods" thread-count="4">
    <parameter name="userId" value="2"/>
    <parameter name="numberOfPosts" value="10"/>
    <parameter name="postId" value="1"/>
    <parameter name="expectedNumberOfComments" value="5"/>
    <parameter name="commentId" value="5"/>

    <test name="Parallel User Test">
        <classes>
            <class name="tests.Positive.UserTests"/>
        </classes>
    </test>

    <test name="GetAll Posts">
        <classes>
            <class name="tests.Positive.GetAllTest"/>
        </classes>
    </test>

    <test name="Get Comments by Id">
        <classes>
            <class name="tests.Positive.GetCommentsByPostTest"/>
        </classes>
    </test>

    <test name="Post posts by User">
        <classes>
            <class name="tests.Positive.PostPostTest"/>
        </classes>
    </test>

    <test name="Update post by Id">
        <classes>
            <class name="tests.Positive.PutPostTest"/>

        </classes>
    </test>

    <test name="Delete post by Id">
        <classes>
            <class name="tests.Positive.DeleteCommentTest"/>
        </classes>
    </test>

    <test name="Todos GET test">
        <classes>
            <class name="tests.Positive.TodosTest"/>
        </classes>
    </test>

    <test name="Albums GET test">
        <classes>
            <class name="tests.Positive.AlbumsTest"/>
        </classes>
    </test>

    <test name="Photos GET test">
        <classes>
            <class name="tests.Positive.PhotosTest"/>
        </classes>
    </test>

    <test name="Todos PUT DELETE test">
        <classes>
            <class name="tests.Positive.TodosPutDeleteTest"/>
        </classes>
    </test>

    <test name="Albums PUT DELETE test">
        <classes>
            <class name="tests.Positive.AlbumsPutDeleteTest"/>
        </classes>
    </test>

    <test name="Photos PUT DELETE test">
        <classes>
            <class name="tests.Positive.PhotosPutDeleteTest"/>
        </classes>
    </test>

</suite>